.blpc-select-s {
	width: 150px;
}

.fl {
	float: left;
}

.clear {
	clear: both;
}

.blpc-houseinfo-textarea {
	width: 300px;
	height: 150px;
	line-height: 26px;
	color: #666666;
	margin-top: 20px;
}

.blpc-houseinfo-labeltxt {
	float: left;
	width: 500px;
}
